<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="Language" content="cs"/>
		<link href="{{ asset('assets/style.css') }}" rel="stylesheet" type="text/css" media="all"/>

		<title>{% block title %}{% endblock %} | Název webu</title>

	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>