{% for flash_message in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        {{ flash_message }}
    </div>
{% endfor %}