{% extends '@App/base.html.twig' %}

{% block body %}
    <div>
        <span>Přihlášen: {{ app.user.fullname }}</span>
        <a href="{{ url('logout') }}">Odhlásit</a>
    </div>

    <div>
        <ul>
            <li><a href="{{ url('dashboard') }}">Nástěnka</a></li>
            <li><a href="{{ url('user_my_profile') }}">Můj profil</a></li>
            <li><a href="#">Moje těžební zařízení</a></li>
            <li><a href="#">Moje síť</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Podpora</a></li>
        </ul>
    </div>

    <div>
        {% include '@App/flashMessages.html.twig' %}

        {% block content %}{% endblock %}
    </div>
{% endblock %}