{% extends '@App/layout.html.twig' %}

{% block title %}Změna hesla{% endblock %}

{% block content %}

	{{ form_start(form) }}
		{{ form_row(form.oldPassword, { label: 'Staré heslo' }) }}
		{{ form_row(form.newPassword.first, { label: 'Nové heslo' }) }}
		{{ form_row(form.newPassword.second, { label: 'Nové heslo znovu' }) }}
		{{ form_row(form.submit, { label: 'Změnit heslo' }) }}
	{{ form_end(form) }}

{% endblock %}