{% extends '@App/layout.html.twig' %}

{% block title %}Můj profil{% endblock %}

{% block content %}

	<a href="{{ url('user_change_password') }}">Upravit profil</a>

	<div>
		<span>Jméno:</span>
		<span>{{ user.firstName }}</span>
	</div>
	<div>
		<span>Příjmení:</span>
		<span>{{ user.lastName }}</span>
	</div>
	<div>
		<span>Identifikační číslo:</span>
		<span>{{ user.identificationNumber }}</span>
	</div>
	<div>
		<span>E-mail:</span>
		<span>{{ user.email }}</span>
	</div>

{% endblock %}