{% extends '@App/base.html.twig' %}

{% block title %}Přihlášení{% endblock %}

{% block body %}
    {% include '@App/flashMessages.html.twig' %}

    <form action="" method="post">
        <input type="hidden" name="_token" value="{{ csrf_token('authenticate') }}" />
        <input type="email" name="_username" required value="{{ lastUsername }}" placeholder="e-mail" />
        <input type="password" name="_password" required placeholder="heslo" />
        <button type="submit">Přihlásit</button>
    </form>
{% endblock %}